
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; 
    max-width: 400px; 
}

.modal h2 {
    margin-bottom: 1rem;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.modal-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
}

#delete {
    background-color: #e53e3e;
    color: #ffffff;
}

.cancel-button {
    background-color: #718096;
    color: #ffffff;
}
