.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: visible;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
}

.tooltip-container .tooltip {
    visibility: hidden;
}


table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
	

}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr 
	{
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}


