


body{
    overflow-x: hidden;
    background-color: #F3F2F2;
    padding: 0;
    margin: 0;
}
.book{
    background-color: #B5FFA9;
    border-radius: 40px;
}
.all{
    border-radius: 20px;
    width: 98vw;
    height: 110vh;}  
      


.rectangle-department{
    border-radius: 0px 30px 30px 0px;
    height: 60px;
    width: 100%;
 

}
.contain-them{
    width: 100%;
   
}
.aside{
    width: 40vw;
}
blockquote div img{
    width: 20%;
}
.back-color{
   
    border-radius: 10px;
    
    background: rgb(178,230,253);
    background: linear-gradient(48deg, rgba(178,230,253,1) 0%, rgba(155,216,241,1) 58%, rgba(27,3,178,0.7625175070028012) 100%);}


#doctor{

        background: rgb(178,230,253);
    background: linear-gradient(48deg, rgba(178,230,253,1) 0%, rgba(155,216,241,1) 58%, rgba(27,3,178,0.7625175070028012) 100%);


}
    .contains{
    width: 100vw;
}
.emergency{
    width: 19vw;
}
.back-color{
   
    border-radius: 10px;
    height: 700px;
    background: rgb(178,230,253);
    background: linear-gradient(48deg, rgba(178,230,253,1) 0%, rgba(155,216,241,1) 58%, rgba(27,3,178,0.7625175070028012) 100%);}


.bg-stripe {
        background: linear-gradient(to right, #4c51bf, #6b46c1);
      }





.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
footer{
    height: 90vh;
}
.box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

